*{
    margin: 0;
    padding: 0;
}
*{background-color: #C9C9C9 ;}

html{
    font-family: 'Roboto', sans-serif;
}

.bandeau-gauche{
    position: absolute;
    width: 400px;
    height: 100%;
    margin: 0px;
    padding: 10px;
    background-color: #1A1A1A;
    border-right: 5px;
    border-color:black;
}

.photo{
    background-color: #1A1A1A;
    background-position-x: center;
}

.bandeau-droit{
    width: 1040px;
    height: 100%;
    margin: 0px;
    padding: 10px;
    background-color: #C9C9C9;
    
}